# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyc
*.pyo
*.pyd
*.log

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/
*.pot
*.pyc
*.log
*.mo
*.coverage
coverage.xml
htmlcov/

# Environments
env/
venv/
ENV/
.env

# Node / React
node_modules/
npm-debug.log
yarn-error.log
/build/
dist/

# VSCode
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Render / Deployment
*.pid
*.swp
